body {
    background-color: cornflowerblue;
}
p {
    text-align: center;
    font-family: Arial;
}
canvas {
    width: 700px;
    height: 700px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    font-size: 30px;
    font-family: Arial;
    background-color: white;
}